*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    height: 100vh;
    padding: 10px;

}
.sidebar{
    border: 1px solid black;
    width: 13%;
    height: 100%;
    border-radius: 8px;
}
.mainbar{
    border: 1px solid black;
    width: 86%;
    height: 100%;
    border-radius: 8px;
    padding: 8px;
}
.element-con{
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    border-radius:8px;
}

.row h3{
    margin: 0;
    padding: 0;
}
.input{
    padding:5px;
    height: 50px;
    width: 800px;
    border-radius:8PX ;
    border: 1px solid black;

}


.rows{
    border: 1px solid black;
    border-radius: 8px;
    width: 70%;
    margin: 10px auto;
    text-align: center;
}
.rows > h4{
    margin: 8px;
    font-size: 18px;
}


/* graph section */
.showme{
    border: 1px solid cl;
}

.panel{
    display: flex;
    justify-content:space-evenly;
}
.showme{
    margin-top: 38px;
}
.showme img{
margin: 10px;
height: 30px;
width: 30px;
}


.graph-container{
/* border: 1px solid; */
border-radius:8PX ;
height: 76%;


}
