
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>VisualMetrix</title>
    <link rel="stylesheet" href="{% static 'css/dash.css' %}">
</head>
<body>
    <div class="header">
        <h2 id="logo">VisualMetrix</h2>
        <div>
            {% if user.is_authenticated %}
            <span id="name">Hello {{user.username}}</span>
            <button class="auth-btn" id="logout"><a href="logout">logout</a></button>
            {% else %}
            <button class="auth-btn"><a href="signup">sign up</a></button>
            <button class="auth-btn"><a href="log">sign in</a></button>
            {% endif %}
 
        </div>
    </div>
    <div class="container">
        <div class="chart">
            <h2>Bar Chart</h2>
            <img src="https://cdn-icons-png.flaticon.com/128/3723/3723413.png" alt="bar">
            <!-- Place your bar chart visualization code or embed here -->
        </div>
        <div class="chart">
            <h2>Line Chart</h2>
            <img src="https://cdn-icons-png.flaticon.com/128/901/901446.png" alt="">
            <!-- Place your line chart visualization code or embed here -->
        </div>
        <div class="chart">
            <h2>Pie Chart</h2>
            <img src="https://cdn-icons-png.flaticon.com/128/8635/8635807.png" alt="">
            <!-- Place your pie chart visualization code or embed here -->
        </div>

    </div>
    <div id="load">
        {% if user.is_authenticated %}
        <button class="load"><a href="upload">upload file</a></button>
        {% else %}
        <button class="load"><a href="signup">Get Started</a></button>
        {% endif %}
    </div>
</body>
</html>
