{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>VisualMetrix</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="container">
        <h2 style="text-align: center;">Sign Up</h2>
        <form action="signup" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <div id="message">
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign Up">
            </div>
            <div id="acc">
                <p>Already have an account.&nbsp;&nbsp;<a href="log">Login here</a></p>
            </div>
        </form>
        <div id="message">
            {% for message in messages %}
                <h5>{{message}}</h5>
            {% endfor %}
        </div>
    </div>
</body>
</html>
