{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>VisualMetrix</title>
    <link rel="stylesheet" href="{% static 'css/upload.css' %}">
</head>
<body>
    <div class="container">
        <h2>Upload Excel File</h2>
        <form action="visual" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="excelFile">Choose Excel File:</label>
                <input type="file" id="excelFile" name="excelFile" accept=".xlsx, .xls, .csv" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Upload">
            </div>
        </form>
    </div>
</body>
</html>
